PG_PASSWORD=pgpassword
PG_USER=pguser
PG_DB=pechomax_db
PG_HOST=localhost
PG_PORT=5432
JWT_SECRET=jwtverysecret
COOKIE_SECRET=cookieverysecret
CORS_ORIGIN=http://localhost:5173
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
NODE_ENV=DEV
APP_PORT=3000
