POSTGRES_PASSWORD=pgpassword
POSTGRES_USER=pguser
POSTGRES_DB=pechomax_db
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=jwtverysecret
COOKIE_SECRET=cookieverysecret
CORS_ORIGIN=http://localhost:5173
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
NODE_ENV=DEV
